.App {
  text-align: center;
}

.slideWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-image {
  display: none;
}

.show-image {
  display: block;
}

.navButton {
  margin: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

img {
  width: 500px;
  height: 400px;
  object-fit: contain;
}